$bg-color-primary: #401f69;
$bg-color-secondary: #9c84bb;
$bg-color-tertiary: #583782;

$color-primary: black;
$color-secondary: powderblue;
$color-tertiary: rgb(151, 202, 209);

$padding-extra-large: 2rem;

@mixin responsiveness($display-type, $orientation) {
    /*
        For 16px default font size:
            400px => 25em
            500px => 31.25em
            600px => 37.5em
            900px => 56.23em
    */

    @if ($display-type == 'mob') {
        @if ($orientation == 'portrait') {
            @media (min-height: 25em) and (max-width: 37.5em) {
                @content;
            }
        }
        @if ($orientation == 'landscape') {
            @media (max-height: 25em) and (max-width: 37.5em) {
                @content;
            }
        }
    }
    
    @if ($display-type == 'tab') {
        @if ($orientation == 'portrait') {
            @media (min-height: 31.25em) and (min-width:37.5em) and (max-width: 56.23em) {
                @content;
            }
        }
        @if ($orientation == 'landscape') {
            @media (max-height: 31.25em) and (min-width:37.5em) and (max-width: 56.23em) {
                @content;
            }
        }
    }

    @if ($display-type == 'desk') {
        @if ($orientation == 'portrait') {
            @media (min-height: 37.5em) and (min-width: 56.23em) {
                @content;
            }
        }
        @if ($orientation == 'landscape') {
            @media (max-height: 37.5em) and (min-width: 56.23em) {
                @content;
            }
        }
    }

}

/*
    @include responsiveness('mob', 'portrait') {
    }

    @include responsiveness('mob', 'landscape') {
    }

    @include responsiveness('tab', 'portrait') {
    }

    @include responsiveness('tab', 'landscape') {
    }

    @include responsiveness('desk', 'portrait') {
    }

    @include responsiveness('desk', 'landscape') {
    }

*/