@import '../../styles/global-vars.style.scss';

@mixin shadow-10z {
    box-shadow: 1px 1px 10px black;
}


.header {

    background-image: linear-gradient(180deg, #898889, transparent);
    padding: 1rem 2rem;

    .profile-image {
        width: 35vw;
        max-width: 25rem;
        height: 35vw;
        max-height: 25rem;
        margin: 1rem auto;
        animation: shadow_10z_animation linear 2s;

        img {
            background-image: linear-gradient(120deg, black, #cdedfb, black);
            width: 100%;
            padding: 1rem;
            border-radius: 100vw;
        }
    }

    &__texts {

        font-family: cursive;
        text-align: center;
        margin-bottom: 2rem;
        text-shadow: 0px 0px 10px dimgrey;
        transform-origin: right;

        &__greet {
            margin: auto;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.5;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            @supports (animation: type-mid 3s steps(40, end)) {
                opacity: 0;
                animation: type-mid 3s steps(40, end) 2s;
                animation-fill-mode: forwards;
            }
        }

        &__intro {
            margin: auto;
            font-size: 1.6rem;
            font-weight: 600;
            transform: skew(0, -3deg);
            line-height: 2;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            @supports (animation: type-end 3s steps(40, end) 3.5s) {
                opacity: 0;
                animation: type-end 3s steps(40, end) 3.5s;
                animation-fill-mode: forwards;
            }
        }
        
    }

    @include responsiveness('mob-small') {
        .profile-image {
            img {
                padding: .3rem;
            }
        }

        &__texts {
            &__greet {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.3;
            }
    
            &__intro {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.5;
                transform: skew(0, -3deg);
            }
        }

    }

    @include responsiveness('mob-land') {

        .profile-image {
            img {
                padding: 1.1rem;
            }
        }

        &__texts {
            margin-top: 2rem;

            &__greet {
                font-weight: 450;
                font-size: 1.4rem;
                line-height: 2;
            }
    
            &__intro {
                font-size: 2rem;
                font-weight: 550;
                line-height: 2.2;
                transform: skew(0, -3deg);
            }
        }
        
    }


    @include responsiveness('tab-port') {

        .profile-image {
            margin-top: 3rem;
            img {
                padding: 1.1rem;
            }
        }

        &__texts {
            margin-top: 3rem;

            &__greet {
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2;
            }
    
            &__intro {
                font-size: 3rem;
                font-weight: 500;
                line-height: 2;
                transform: skew(0, -3deg);
            }
        }

    }

}



@keyframes type-mid {
    0% {width: 0.1rem;}
    1% {opacity: 1;}
    100% {opacity: 1;}
}
  
  
@keyframes type-end {
    0% {width: 0;}
    1% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes shadow_10z_animation {
    0% {width: 0rem; height: 0rem}
    10% {width: 10rem; height: 10rem}
    0% {width: 0rem; height: 0rem}
}

@keyframes shadow_10z_animation_bkp {
    0% {box-shadow: 0px 0px 0px darkslategray; opacity: 0;text-shadow: 0px 0px 5px darkgrey;}
    9% {box-shadow: 0px 0px 0px darkslategray; opacity: .2;text-shadow: 0px 0px 5px darkgrey;}
    10% {box-shadow:  0px 0px 0px darkslategray; opacity: .3;text-shadow: 0px 0px 5px darkgrey;}
    50% {
        box-shadow:  1px 1px 5px darkslategray; 
        opacity: .6;
        text-shadow: 0px 0px 5px darkgrey;
    }
    70% {box-shadow:  1px 1px 12px darkslategray;text-shadow: 0px 0px 5px darkgrey;}
    100% {box-shadow:  1px 1px 10px darkslategray;text-shadow: 0px 0px 5px darkgrey;}
}
