@import '../../styles/global-vars.style.scss';

@mixin shadow-10z {
    box-shadow: 1px 1px 10px black;
}


.header {
    padding: 10vh;
    width: 100vw;

    @supports (animation: push-things-down-animation 9s) {
        animation: push-things-down-animation 9s;
        animation-fill-mode: forwards;
    }
}

.header-stuffs-wrapper {
    position: relative;
    height: 55vw;
    min-height: 20rem;
    max-width: 60rem;
    margin: auto;

    @include responsiveness('mob-small') {
        min-height: 15rem;
    }

    @include responsiveness('tab-port') {
        height: 35rem;
        margin-top: 1rem;
        img {
            padding: 1.1rem;
        }
    }
}


.profile-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: 35vw;
    @supports (animation: shadow-10z-animation 2s steps(40, end)) {
        animation: shadow-10z-animation 2s;
    }
    img {
        background-image: linear-gradient(120deg,#0d5684,rgba(189, 229, 255, 0.41),#014c88d6);
        width: 100%;
        padding: 1rem;
        border-radius: 100vw;
    }

    @include responsiveness('mob-small') {
        img {
            padding: .3rem;
        }
    }

    @include responsiveness('mob-land') {
        img {
            padding: 1.1rem;
        }
    }

    @include responsiveness('tab-port') {
        width: 25rem;
        height: 25rem;
        margin-top: 1rem;
        img {
            padding: 1.1rem;
        }
    }

}

.header__texts {
    position: absolute;
    font-family: cursive;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px #ffffff;
    color: white;
    transform-origin: right;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    
    &__greet {
        margin: auto;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.5;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        @supports (animation: type-mid 3s steps(40, end)) {
            opacity: 0;
            animation: type-mid 3s steps(40, end) 1.5s, color-blast 2s steps(30, end) 2s;
            animation-fill-mode: forwards;
        }
    }
    &__intro {
        margin: auto;
        font-size: 1.9rem;
        font-weight: 600;
        transform: skew(0, -3deg);
        line-height: 2;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        @supports (animation: type-end 3s steps(30, end) 3.5s) {
            opacity: 0;
            animation: type-end 3s steps(30, end) 3.5s, color-blast 2s steps(30, end) 4.5s;
            animation-fill-mode: forwards;
        }
    }

    @include responsiveness('mob-small') {
        &__greet {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.3;
        }

        &__intro {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            transform: skew(0, -3deg);
        }
    }

    @include responsiveness('mob-land') {
        &__greet {
            font-weight: 450;
            font-size: 1.8rem;
            line-height: 2;
        }

        &__intro {
            font-size: 2rem;
            font-weight: 550;
            line-height: 2.6;
            transform: skew(0, -3deg);
        }
    }

    @include responsiveness('tab-port') {
        &__greet {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2;
        }

        &__intro {
            font-size: 3rem;
            font-weight: 500;
            line-height: 2;
            transform: skew(0, -3deg);
        }
    }


}

.iconic-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    min-width: 24rem;

    .iconic-link {
            margin: 0 1rem;
            color: #d5dbe0;
            background-image: linear-gradient(120deg,#81c5ffa6,#085c9142,#4084af);
            box-shadow: 1px 1px 5px #000000;
            text-shadow: 1px 1px 2px black;
            width: 4rem;
            height: 4rem;
            padding: 1.2rem;
            border-radius: 10rem;
            display: inline-block;
            text-align: center;
            font-size: 1.6rem;
            
            &:active, &:hover {
                transform: scale(.8);
                box-shadow: 1px 1px 5px #59848d;
            }

            @supports (animation: zoom-up 1.5s linear 6.5s) {
                opacity: 0;
                animation: zoom-up 1.5s linear 6.5s;
                animation-fill-mode: forwards;
            }
    }

    @include responsiveness('mob-small') {
        min-width: 20rem;
        .iconic-link {
            font-size: 1.4rem;
            width: 3.5rem;
            height: 3.5rem;
            padding: 1.1rem;
            margin: 0 .75rem;
        }
    }
    
    @include responsiveness('mob-land') {
        min-width: 24rem;
        .iconic-link {
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            padding: 1rem;
        }
    }

    @include responsiveness('tab-port') {
        min-width: 28rem;
        .iconic-link {
            font-size: 3rem;
            width: 5rem;
            height: 5rem;
            padding: 1rem;
        }
    }
    
}

@keyframes type-mid {
    0% {width: 0.1rem;}
    1% {opacity: 1;}
    100% {
        opacity: 1;
    }
}
  
  
@keyframes type-end {
    0% {width: 0.1rem;}
    1% {opacity: 1;}
    100% {
        opacity: 1;
    }
}

@keyframes color-blast {
    0% {

    }
    100% {
        color: #eef5fbe3;
        text-shadow: -1px 0px 2px #000000;
        background-image: linear-gradient(120deg,transparent,transparent,rgba(97, 153, 193, 0.92),transparent,transparent);
    }
}

@keyframes zoom-up {
    0% {
        opacity: 0;
        padding: 0;
        font-size: 10rem;
        overflow: hidden;
    }
    90% {
        opacity: 1;
        padding: 0;
        font-size: 5rem;
        overflow: hidden;
    }
    100% {
        opacity: 1;
        overflow: hidden;
    }
}


@keyframes push-things-down-animation {
    0% {margin-bottom: 100vh;}
    99% {margin-bottom: 100vh;}
    100% {}
}

@keyframes shadow-10z-animation {
    0% {width: 0; height: 0}
    100% {}
}
