@import '../../styles/global-vars.style.scss';

@mixin bg-gradient-dark {
    background-image: linear-gradient(to right, $bg-color-primary, $bg-color-secondary, $bg-color-tertiary)
}

.header {
    
    @include bg-gradient-dark();
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 75% 75%, 74% 90%, 50% 75%, 0% 75%);
    display: grid;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    padding: 5% 2rem 40vh 2rem;
    line-height: 1.5;
    font-family: cursive;
    text-align: center;
    grid-template-rows: 2fr 1fr;
    margin: 5% auto;

    @include responsiveness('mob', 'portrait') {
        border: 2px solid red;
        grid-template-columns: 1fr;
        
    }

    @include responsiveness('mob', 'landscape') {
        border: 2px solid salmon;
        grid-template-columns: 1fr;
    }

    @include responsiveness('tab', 'portrait') {
        border: 2px solid blue;
        grid-template-columns: 1fr;
    }

    @include responsiveness('tab', 'landscape') {
        border: 2px solid slateblue;
        grid-template-columns: 1fr;
    }

    @include responsiveness('desk', 'portrait') {
        grid-template-columns: 1fr;
        border: 2px solid lightgreen;
    }

    @include responsiveness('desk', 'landscape') {
        grid-template-columns: 1fr;
        border: 2px solid seagreen;
    }

    &__image-sec {
        display: flex;
        width: 100%;

        .image {
            margin: auto;
            max-width: 12rem;

            @include responsiveness('mob', 'portrait') {
                max-width: 10rem;
            }
        
            @include responsiveness('mob', 'landscape') {
                max-width: 10rem;
            }
        
            @include responsiveness('tab', 'portrait') {
                min-width: 10rem;
                max-width: 12rem;
            }
        
            @include responsiveness('tab', 'landscape') {
                min-width: 12rem;
                max-width: 13rem;
            }
        
            @include responsiveness('desk', 'portrait') {
                min-width: 12rem;
                max-width: 13rem;
            }
        
            @include responsiveness('desk', 'landscape') {
                min-width: 12rem;
                max-width: 13rem;
            }

            img {
                width: 100%;
                padding: 1rem;
                border-radius: 1000px;
                box-shadow: 1px 1px 1rem black;
            }
        }
    }

    &__text-sec {
        display: flex;
        width: 100%;

        &__text {
            margin: auto;

            &__greet {
                font-weight: 500;
                font-size: .6rem;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                opacity: 0;
                animation: type-mid 3s steps(40, end);
                animation-fill-mode: forwards;
            }

            &__intro {
                font-size: 1rem;
                font-weight: 800;
                transform: skew(0, -3deg);
                line-height: 2;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                opacity: 0;
                animation: type-end 4s steps(40, end) 3s;
                animation-fill-mode: forwards;
            }

            @include responsiveness('mob', 'portrait') {
                &__greet {
                    font-size: .6rem;
                }
    
                &__intro {
                    font-size: 1rem;
                }
            }
        
            @include responsiveness('mob', 'landscape') {
                &__greet {
                    font-size: .7rem;
                }
    
                &__intro {
                    font-size: 1.1rem;
                }
            }
        
            @include responsiveness('tab', 'portrait') {
                &__greet {
                    font-size: .8rem;
                }
    
                &__intro {
                    font-size: 1.2rem;
                }
            }
        
            @include responsiveness('tab', 'landscape') {
                &__greet {
                    font-size: .9rem;
                }
    
                &__intro {
                    font-size: 1.3rem;
                }
            }
        
            @include responsiveness('desk', 'portrait') {
                &__greet {
                    font-size: 1.5rem;
                }
    
                &__intro {
                    font-size: 2rem;
                }
            }
        
            @include responsiveness('desk', 'landscape') {
                &__greet {
                    font-size: 1.6rem;
                }
    
                &__intro {
                    font-size: 2.3rem;
                }
            }
        }
    }
}

@keyframes type-mid {
  0% {width: 0;}
  1% {opacity: 1;}
  100% {opacity: 1;}
}


@keyframes type-end {
  0% {width: 0;}
  1% {opacity: 1;}
  100% {opacity: 1;}
}