.skillsets {
    display: grid;
    max-width: 90vw;
    margin: auto;
    margin-bottom: 20rem;
    margin-top: 2vw;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: .3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    //background-image: linear-gradient(45deg, #7f898e, #52585a);
    //background-image: linear-gradient(45deg, #9fd9e6, #69949d);
}