.intro {
    padding: 1rem 3rem;
    width: 95%;
    margin: 3rem auto;
    border-radius: .5rem;
    background-image: linear-gradient(to right, lightsteelblue, honeydew);
    word-spacing: .2rem;
}

