<div class="intro-wrapper">
    <div class="intro">
        <!--<h2 class="heading-primary">
            <span 
                [ngClass] = "{ 'rounded-letter': letter == letter.trim(),
                    'rounded-space': letter != letter.trim() }"
                *ngFor="let letter of 'Intro'.split('')">
                {{ letter }}
            </span>
        </h2>-->


        <h2 class="heading-secondary">Who am I?</h2>
        <p class="text-primary">Full Stack Developer at Tata Consultancy Sevices (TCS), based in Chennai, India.</p> 
        <p class="text-primary">(Experience: {{ expInYears }} Years)</p>
    </div>
</div>
