<div class="intro">
    <h2 class="heading-primary">INTRO</h2>

    <h2 class="heading-secondary">Who am I?</h2>
    <p class="text-primary">I am a Full Stack Developer at Tata Consultancy Sevices (TCS), based in Chennai, India.</p>
    
    <h2 class="heading-secondary">Total Experience?</h2>
    <p class="text-primary">{{ expInYears }} years.</p>

    <h2 class="heading-secondary">How to contact?</h2>
    <p class="text-primary">
        <span class="contact-type">mobile</span>
        <span>:&nbsp;&nbsp;</span>
        <span class="contact-value">+91 8015239799</span>
    </p>
    <p class="text-primary">
        <span class="contact-type">email</span>
        <span>:&nbsp;&nbsp;</span>
        <span class="contact-value">mahaaprabhu@gmail.com</span>
    </p>
    <p class="text-primary">
        <span class="contact-type">linkedin</span>
        <span>:&nbsp;&nbsp;</span>
        <span class="contact-value"><a href="https://www.linkedin.com/in/mahaaprabhu">linkedin.com/in/mahaaprabhu</a></span>
    </p>
    <p class="text-primary">
        <span class="contact-type">github</span>
        <span>:&nbsp;&nbsp;</span>
        <span class="contact-value"><a href="https://github.com/Mahaaprabhu">github.com/Mahaaprabhu</a></span>
    </p>
</div>
