
.popup-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.popup-backdrop-visible {
    visibility: visible !important;
    opacity: .85 !important;
}

.popup {
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 90vw;
    max-width: 50rem;
    padding-bottom: 5rem;
    overflow: hidden;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 100px #197482;
    background-image: linear-gradient(45deg, #326971, #5f848c);
    border: 0.1rem solid #74929c;

    .pop-content {
        font-size: 1.6rem;
        font-weight: 900;
        font-family: sans-serif;
        text-align: center;
        margin-top: 7rem;
        text-shadow: 1px 1px 10px #c2ccce;
    }

    .btn-pop-closer {
        position: absolute;
        display: inline-block;
        top: 0.5rem;
        right: 0.5rem;
        font-family: sans-serif;
        font-weight: 900;
        font-size: 2rem;
        border: 0.1rem solid black;
        min-height: 3rem;
        min-width: 3rem;
        text-align: center;
        color: #5a8189;
        background-color: black;
        opacity: 0.5;
        border-radius: 0.5rem;

        &:hover {
            color: red;
        }
    }
}

.popup-backdrop {
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
    background-color: #000000cc;
}

.popup-icons-wraper {
    margin: auto;
    width: 12rem;   
    .popup-content-copy, .popup-content-action {
        display: inline-block;
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        margin: .5rem;
        padding-top: 1.3rem;
        text-align: center;
        margin-top: 2rem;
        text-shadow: 0.1rem 0.1rem 1rem #ffffff;
        box-shadow: 0.1rem 0.1rem 2rem #0d3338;
        border-radius: 0.5rem;

        &:hover {
            transform: scale(.8);
            box-shadow: 0 0 1rem #0d3338;
        }

        a {
            color: black;
        }
    }
}
