<div id="contact-pop" class="popup" [ngClass]="{'popup-visible':displayPopup}">
    <div class="btn-pop-closer" (click)="onClosePopup()">
        X
    </div>
    <div class="pop-content">
        <p [ngClass]="{
            'special-color': displaySpecialColor
        }">{{ popupData }}</p>
    </div>
    <div class="popup-icons-wraper">
        <div class="popup-content-action" *ngIf="popupType == 'PHONE'">
            <a [href]="'tel:'+popupData"><i class="fas fa-phone"></i></a>
        </div>
        <div class="popup-content-action" *ngIf="popupType == 'EMAIL'">
            <a [href]="'mailto:'+popupData"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="popup-content-copy" (click)="onContentCopy()">
            <i class="fas fa-copy"
            [ngClass]="{
                'special-color': displaySpecialColor
            }"></i>
            <i *ngIf="displayTooltip" class="tooltip">{{ tooltip }}</i>
        </div>
    </div>
</div>
<div class="popup-backdrop" [ngClass]="{'popup-backdrop-visible':displayPopup}"></div>