//import global variables
@import '../../styles/global-vars.style.scss';

.skill-set {
    min-height: 0;
    margin: auto;
    background-image: linear-gradient(45deg, #b3c9d2, transparent);
    padding: 1rem 2rem;
    border-radius: 1rem;

    @include responsiveness('mob-land') {
        min-height: 30rem;
    }

    &__category {
        margin: 1rem auto 3rem auto;
        width: 60%;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: .3rem;
        border-bottom: 2px solid #60676a;
    }

    .skill {
        margin: 1rem auto;
        font-size: 1.5rem;
        display: flex;

        &__name {
            width: 60%;
        }

        &__level {
            width: 40%;
            height: 1rem;
            background-color: #c9e8f5;
            border: 1px solid #698b9b;

            .skillbar {
                background-color: #456372;
                height: 100%;
            }
        }
    }



}