//import global variables
@import 'app/styles/global-vars.style.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    color: $color-primary;
    
    @include responsiveness('mob-small') {
        border: 1px solid yellow;
    }
    @include responsiveness('mob-land') {
        border: 1px solid red;
    }
    @include responsiveness('tab-port') {
        border: 1px solid blueviolet;
    }
    @include responsiveness('tab-land') {
        border: 1px solid blue;
    }
    @include responsiveness('laptop') {
        border: 1px solid lightgreen;
    }
    @include responsiveness('bigscreen') {
        border: 1px solid green;
    }
    
}