//import global variables
@import 'app/styles/global-vars.style.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    color: $color-primary;
    @include bg-gradient-light;
    
    @include responsiveness('mob-small') {
        border: .1rem solid yellow;
    }
    @include responsiveness('mob-land') {
        border: .1rem solid red;
    }
    @include responsiveness('tab-port') {
        border: .1rem solid blueviolet;
    }
    @include responsiveness('tab-land') {
        border: .1rem solid blue;
    }
    @include responsiveness('laptop') {
        border: .1rem solid lightgreen;
    }
    @include responsiveness('bigscreen') {
        border: .1rem solid green;
    }
    
}

.heading-primary {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: cadetblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem 5px black;
}

.heading-secondary {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: cadetblue;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-shadow: .1rem .1rem 1rem black;
}

.heading-tertiary {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.text-primary {
    font-family: serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .25rem;
    color: lightgray;
    text-shadow: 1rem 1rem 2rem black;
    margin-bottom: 1rem;

    li {
        list-style: none;
    }
}